.logo {
  font-size: 25px;
}
.scroll {
    background-color: #DEDEDE;
    border: 1px;
    height: 250px;
    width: 90%;
    padding: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    //display: block;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.pcard {
    background-color: white;
    //border: 1px solid black;
    height: 200px;
    width: 170px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    //margin: 0px;
    //padding: 0px;
}
.profile-img {
    height: 150px;
    width: 150px;
    padding: 0px;
    margin: 10px;
}
.menu-img {
  height: 25px;
  width: 25px;
}
.img-index {
 height: 50px;
 width: 50px;
}

p (
    margin-bottom: 0px;
  )
